@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0.005 285.8);

  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0.005 285.8);

  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0.005 285.8);

  --color-primary: oklch(9.6% 0.006 285.8);
  --color-primary-foreground: oklch(98% 0 0);

  --color-secondary: oklch(96.1% 0.004 285.8);
  --color-secondary-foreground: oklch(9.6% 0.006 285.8);

  --color-muted: oklch(96.1% 0.004 285.8);
  --color-muted-foreground: oklch(45.6% 0.004 285.8);

  --color-accent: oklch(96.1% 0.004 285.8);
  --color-accent-foreground: oklch(9.6% 0.006 285.8);

  --color-destructive: oklch(59.2% 0.227 29.2);
  --color-destructive-foreground: oklch(98% 0 0);

  --color-border: oklch(89.9% 0.006 285.8);
  --color-input: oklch(89.9% 0.006 285.8);
  --color-ring: oklch(9.6% 0.006 285.8);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9% 0.005 285.8);
    --color-foreground: oklch(98% 0 0);

    --color-card: oklch(9% 0.005 285.8);
    --color-card-foreground: oklch(98% 0 0);

    --color-popover: oklch(9% 0.005 285.8);
    --color-popover-foreground: oklch(98% 0 0);

    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(9.6% 0.006 285.8);

    --color-secondary: oklch(14.5% 0.004 285.8);
    --color-secondary-foreground: oklch(98% 0 0);

    --color-muted: oklch(14.5% 0.004 285.8);
    --color-muted-foreground: oklch(64.5% 0.005 285.8);

    --color-accent: oklch(14.5% 0.004 285.8);
    --color-accent-foreground: oklch(98% 0 0);

    --color-destructive: oklch(29.2% 0.135 29.2);
    --color-destructive-foreground: oklch(98% 0 0);

    --color-border: oklch(14.5% 0.004 285.8);
    --color-input: oklch(14.5% 0.004 285.8);
    --color-ring: oklch(83.1% 0.005 285.8);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-feature-settings: "rlig" 1, "calt" 1;
}